@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.error {
    color: red;
    font-size: 15px;
}
h1 {
    color: white;
    text-align: center;
    padding-top: 20px;
}
h3 {
    text-align: center;
    padding-top: 20px;
}
h4 {
    text-align: center;
    padding-top: 20px;
}
.success {
    color: white;
}
.login-page {
    width: 360px;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255,0.9);
    width: 75%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #e0e0e0;
    width: 85%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #52aab7;
    width: 85%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover, .form button:active, .form button:focus {
    background: #448a93;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4ca5ad;
    text-decoration: none;
}
.form .forgot {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .forgot a {
    color: #4ca5ad;
    text-decoration: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #52aab7;
    /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* protected stuff css */

.lgout {
    margin: auto;
    display: block;
    color: #5b5b5b;
    text-decoration: none;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
.lgout:hover {
    margin: auto;
    display: block;
    color: #595959;
    text-decoration: none;
    outline: 0;
    background: #d1d1d1;
    border: 0;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
#siteonlogin{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
#siteonlogin:hover{
  display: block;
  margin: auto;
  opacity: 0.7
}
#siteonlogin:active{
  display: block;
  margin: auto;
  opacity: 0.9
}
